@{
    ViewData["Title"] = "Добави кандидатури";
}

<h4>@ViewData["Title"]</h4>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Училища по район
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @{
            @foreach (var district in (IEnumerable<ISOOU.Web.ViewModels.Districts.AddApplicationsDistrictViewModel>)this.ViewData["Districts"])
            {
                <a href="/Users/Candidate/AllSchoolsByDistrict/{@district.Id}" />
            }
        }
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="input-group">
            <span class="input-group-addon">
                <input type="checkbox">
            </span>
            <input type="text" class="form-inline">
        </div>
    </div>
</div>
