@using ISOOU.Common
@model ISOOU.Web.ViewModels.Users.ScoresByApplicationsViewModel
@{
    ViewData["Title"] = "Профил на дете";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-heading-2" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @if (Model == null)
                {
                    <a class="btn btn-secondary py-3 px-4" asp-area="Users" asp-controller="Candidate" asp-action="AddApplications">
                        Добави училище
                    </a>
                }
                else
                {
                    <p class="ftco-heading-2"><strong>Кандидатури за следващото класиране</strong></p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Желание</th>
                                    <th>Училище</th>
                                    <th>Точки</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @{

                                    }
                                    <td>i</td>
                                    <td>
                                        <div class="form-inline mt-1 justify-content-end">

                                        </div>
                                    </td>
                                    <td>Точки</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                </div>
            </div>
        </div>
</section>