@model ISOOU.Web.ViewModels.Users.CreateDocumentInputModel
@{
    ViewData["Title"] = "Добавяне на документи";
}

    <section class="ftco-heading-2" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div class="row">
                <partial name="_MenuPartialView" model="Model">
                    <div class="col-md-8 offset-2">
                        <div class="container justify-content-end mt-2">
                            <div class="alert alert-info">
                                Кандидатстването може да стане както на място в училище, така и тук!
                                Моля изпратете Вашето заявление в pdf-формат!
                            </div>

                            <form asp-area="Users" asp-controller="Candidate" asp-action="Documents" method="post" enctype="multipart/form-data">

                                <input hidden value="@Model.CandidateId" asp-for="CandidateId">
                                <label asp-for="Application">
                                    <strong>Заявление за първо желание</strong>
                                    <input asp-for="Application" type="file" id="applicationId">
                                    <span asp-validation-for="Application" class="text-danger"></span>
                                    <input type="submit" class="btn btn-secondary py-3 px-4" value="Изпрати документи" />
                                </label>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </section>





