@model ISOOU.Web.ViewModels.Search.SearchFreeSpotsInputModel;
<!--<div class="heading-section heading-section-black ftco-animate mb-5">
    <span class="subheading">Въведете година на раждане и район по постоянен адрес</span>
    <form asp-area="" asp-controller="Search" asp-action="FreeSpots" method="get">
        <hr />
        <div class="row d-flex">
            <div class="form-group col-md-6">

                <div class="form-inline">
                    <label asp-for="SelectedDistrictId"></label>
                    <select class="form-control text-primary" id="type" asp-for="SelectedDistrictId">
                        <option selected disabled>---Изберете район---</option>
                        @foreach (var district in (IEnumerable<ISOOU.Web.ViewModels.Search.SearchDistrictViewModel>)this.ViewData["Districts"])
                        {
                            <option value="@district.Id">@district.Name</option>
                        }
                    </select>
                    <span asp-validation-for="SelectedDistrictId" class="text-danger"></span>
                </div>

                <div class="form-inline">
                    <label asp-for="SelectedYearOfBirth"></label>
                    <select class="form-control text-primary" id="type" asp-for="SelectedYearOfBirth">
                        <option selected disabled>---Изберете набор---</option>
                        @foreach (var year in (IEnumerable<int>)this.ViewData["Years"])
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                    <span asp-validation-for="SelectedYearOfBirth" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row d-flex justify-content-center">
            <input href="/Search/SearchFreeSpotsByYearAndByDistrict/@Model.SelectedYearOfBirth&@Model.SelectedDistrictId" class="btn btn-secondary py-3 px-4" value="Намери"/>
        </div>
    </form>
</div>
    -->
