@using ISOOU.Web.ViewModels.Search;

@model SearchFreeSpotsResultViewModel

@{
    ViewData["Title"] = $"Свободни места по район и по година";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section img" id="section-search" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container bg">
        <h4 class="ftco-heading-2">СВОБОДНИ МЕСТА ЗА НАБОР <i>@Model.YearOfBirth</i> В РАЙОН <i>@Model.DistrictName</i></h4>
        <table class="table px-4 py-3">
            <thead class="py-2 bg">
                <tr>
                    <th scope="col"></th>
                    @{
                        foreach (var classProfile in (IEnumerable<string>)this.ViewData["Classes"])
                        {
                            <th scope="col">
                                <a href="~/Schools/Details/@classProfile" target="_blank">@classProfile</a>
                            </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    @foreach (var school in Model.Result)
                    {
                    <tr height="21" style="height:21px;">
                        <td height="21" style="height:21px;border-top:none;">
                            <a href="/Schools/Details/@school.Key.Id">@school.Key.Name</a>
                        </td>
                        @foreach (var classProfileFreeSpots in school.Value)
                        {
                            <td height="21" style="height:21px;border-top:none;">
                                @classProfileFreeSpots
                            </td>
                        }
                    </tr>
                    }
                }
            </tbody>
       </table>
    </div>
</section>

