@using ISOOU.Web.ViewModels.Users;

@model ChildInputModel
@{
    ViewData["Title"] = "Управление на семейния профил";
}

    <div class="row">
        <h4>Деца</h4>
    </div>
    <div class="row">
        <div class="col-10 justify">
            <div id="add-child" class="container" style="display: none;">
                <btn id="child-button" class="btn btn-secondary py-3 px-4" onclick="toggleChild()">Добави дете</btn>
                <form id="new-registration-inputdata-mother-form" asp-page="Index" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <h5>Дете</h5>
                    <div class="row">
                        <span class="justify-content-md-start">
                            <label asp-for="UCN">ЕГН</label>
                            <input asp-for="UCN" class="form-check-inline" />
                            <label asp-for="MiddleName">Презиме</label>
                            <input asp-for="MiddleName" class="form-check-inline" />
                        </span>
                    </div>
                    <div class="row">
                        <span class="justify-content-md-start">
                            <label asp-for="FirstName">Име</label>
                            <input asp-for="FirstName" class="form-check-inline" />
                            <label asp-for="LastName">Фамилия</label>
                            <input asp-for="LastName" class="form-check-inline" />
                        </span>
                    </div>
                    <div class="row">
                        <span class="justify-content-md-start">
                            <label asp-for="YearOfBirth">Име</label>
                            <input asp-for="YearOfBirth" class="form-check-inline" />
                        </span>
                    </div>
                </form>
                <div class="container">
                    <btn class="btn btn-secondary py-3 px-4" onclick="toggleChild()">Добави дете</btn>
                </div>
            </div>
        </div>
    </div>