@inject AllDistrictsViewModel allDistricts

<div class="dropdown show">
    <a class="nav-link text-dark dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Schools" asp-action="AllSchoolsByDistrict">
        Училища
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @{
            foreach (var district in allDistricts.Districts)
            {
                var value = @district.Key;
                <a class="dropdown-item" href="~/Schools/AllSchoolsByDistrict/@value">Район "@district.Value"</a>
            }
        }
    </div>
</div>