@{
    this.ViewData["Title"] = "Обратна връзка";
}


<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Име и Фамилия">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Е-поща">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Тема">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Съобщение"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ИЗПРАТИ" class="btn btn-secondary py-3 px-5">
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <script src="~/js/fetch-schools.js" asp-append-version="true"></script>
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>