@using ISOOU.Web.ViewModels.Home

@model ContactFormInputModel
@{
    this.ViewData["Title"] = "Обратна връзка";
}

<section class="ftco-section img" id="section" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form id="contact-form" method="post">
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="UserEmail">Е-поща</label>
                        <input asp-for="UserEmail" class="form-control" />
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="Subject">Тема</label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="Content">Съобщение</label>
                        <textarea asp-for="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="container d-flex justify-content-around">
                        <input type="submit" class="btn btn-secondary py-3 px-4" value="Изпрати" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}