@{
    this.ViewData["Title"] = "Нормативни документи";
}

        <section class="ftco-services ftco-no-pb ft" id="section-counter" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.6">
            <div class="container-fluid">
                <h4 class="text-lg-center text-justify">Нормативни документи</h4>
                <div class="row no-gutters">
                    <div class="col-md-6 d-flex services align-self-stretch pb-4 px-4 ftco-animate">
                            <div class="media block-6 d-block text-center">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="flaticon-books"></span>
                                </div>
                                <div class="media-body p-2 mt-3">
                                    <a class="text text-md-center" href="https://web2.apis.bg/sofiacouncil/p.php?i=3399028">Система за прием на ученици в първи клас в общинските училища на територията на Столична община</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex services align-self-stretch pb-4 px-4 ftco-animate">
                            <div class="media block-6 d-block text-center">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="flaticon-books"></span>
                                </div>
                                <div class="media-body p-2 mt-3">
                                    <a class="heading" href="http://www.ruo-sofia-grad.com/нормативни-актове/">
                                        Нормативни актове и документи към Регионално Управление на Образованието - София - град
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
