@model  ISOOU.Web.ViewModels.Schools.SchoolsAdmissionProcedureResultViewModel
@{
    this.ViewData["Title"] = "Новини";
}

<section class="ftco-heading-2" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.6">
    <div class="container-fluid">
        <h4 class="justify-content-around">@this.ViewData["Title"]</h4>
        @if (Model.Status == "Finished")
        {
            <div class="alert alert-info">
                КЛАСИРАНЕТО Е ИЗВЪРШЕНО!
            </div>
            <div class="container d-flex justify-content-around">
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Admitted">СПИСЪК ПРИЕТИ КАНДИДАТИ</a>
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="NotAdmitted">СПИСЪК НЕПРИЕТИ КАНДИДАТИ</a>
            </div>

        }
        else
        {
            <div class="alert alert-info">
                НЯМА ИЗВЪРШЕНО КЛАСИРАНЕ!
            </div>
        }
    </div>
    </section>