@{
    this.ViewData["Title"] = "Защита на личните данни";
}
<h1>@this.ViewData["Title"]</h1>

<p>
    Считано от 25 май 2018 г. влезе в сила Регламент (ЕС) 2016/679 (General Data Protection Regulation - GDPR) на Европейския парламент и на Съвета от 27 април 2016 година относно защитата на физическите лица във връзка с обработването на лични данни и относно свободното движение на такива данни и за отмяна на Директива 95/46/ЕО (Общ регламент относно защитата на данните).
</p>
<p>
    Повече относно политиката за защита на личните данни и вашите права може да прочетете на
    <a href="https://www.sofia.bg/protection-of-personal-data">тук</a>.
</p>
