@model  ISOOU.Web.ViewModels.Schools.CreateClassProfileInputModel
@{
    this.ViewData["Title"] = "СЕКЦИЯ ДИРЕКТОРИ";
}

    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-area="Directors" asp-controller="Home" asp-action="CreateClassProfile" method="post">
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="Name">Име на паралелката</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <input type="submit" class="btn btn-secondary py-3 px-4" value="Добави" />
                    </div>
                </form>
            </div>
        </div>
    </div>