@{
    this.ViewData["Title"] = "Секция ДИРЕКТОРИ";
}


    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="container-fluid d-flex justify-content-around">
                    <a class="btn btn-secondary py-3 px-4" asp-area="Directors" asp-controller="Home" asp-action="EditSchool">Редактирай училище</a>
                </div>
                <div class="container-fluid d-flex justify-content-around">
                    <a class="btn btn-secondary py-3 px-4" asp-area="Directors" asp-controller="Home" asp-action="ViewDocuments">Прегледай кандидатури</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
