@model IEnumerable<AllSchoolsViewModel>

@{
    ViewData["Title"] = "Училища";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-heading-2" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container-fluid bg">
        <h1>Всички общински основни училища</h1>
        <div class="container">

            @{foreach (var sc in Model)
                {
                    <a href="/School/Details/@(sc.Id)">@sc.Name</a>
                }
            }
        </div>
    </div>
</section>

