@{
    this.ViewData["Title"] = "Училища";
}

<table align="left" border="1" cellpadding="1" cellspacing="1" style="width: 100%;"> 
    <tbody> 
    <tr> 
        <td style="text-align: left; background-color: rgb(52, 80, 117);">
        <span style="font-size:14px;">
            <span style="color: rgb(255, 255, 255);">ОБЩИНСКИ УЧИЛИЩА</span>
            </span>
            </td> 
        </tr> 
    </tbody> 
</table>

<table border="1" cellpadding="2" cellspacing="4" style="width: 100%;"> 
    <tbody>
        <tr>
            <td><a href="/municipality-schools-iskar" target="_blank"><strong>Район ''Искър''</strong></a></td>
            <td><a href="/municipality-schools-mladost" target="_blank"><strong>Район ''Младост''</strong></a></td>
            <td><a href="/municipality-schools-poduane" target="_blank"><strong>Район 'Подуяне''</strong></a> </td>
            <td><a href="/municipality-schools-lulin" target="_blank"><strong>Район ''Люлин''</strong></a></td>
        </tr>
        <tr>
            <td><a href="/municipality-schools-vitosa" target="_blank"><strong>Район ''Витоша''</strong></a></td>
            <td><a href="/municipality-schools-krasna-polana" target="_blank"><strong>Район ''Красна поляна''</strong></a></td>
            <td><a href="/municipality-schools-nadezda" target="_blank"><strong>Район ''Надежда''</strong></a></td>
            <td><a href="/municipality-schools-serdika" target="_blank"><strong>Район ''Сердика''</strong></a></td>
        </tr>
        <tr>
            <td><a href="/municipality-schools-vrabnica" target="_blank"><strong>Район ''Връбница''</strong></a></td>
            <td><a href="/municipality-schools-krasno-selo" target="_blank"><strong>Район ''Красно село"</strong></a></td>
            <td><a href="/municipality-schools-slatina" target="_blank"><strong>Район ''Слатина''</strong></a></td>
            <td><a href="/municipality-schools-triadica" target="_blank"><strong>Район ''Триадица''</strong></a></td>
        </tr>
        <tr>
            <td><a href="/municipality-schools-vazrajdane" target="_blank"><strong>Район ''Възраждане''</strong></a></td>
            <td><a href="/municipality-schools-oborishte" target="_blank"><strong>Район ''Оборище''</strong></a></td>
            <td><a href="/municipality-schools-sredec" target="_blank"><strong>Район ''Средец''</strong></a></td>
            <td><a href="/municipality-schools-izgrev" target="_blank"><strong>Район ''Изгрев''</strong></a></td>
        </tr>
        <tr>
        <td><a href="/municipality-schools-lozenec" target="_blank"><strong>Район ''Лозенец''</strong></a></td>
        <td><a href="/municipality-schools-ovcga-kupel" target="_blank"><strong>Район ''Овча купел"</strong></a></td>
        <td><a href="/municipality-schools-studentski" target="_blank"><strong>Район ''Студентски''</strong></a></td>
        </tr>
    </tbody> 
    </table> 