@inject StatusCandidatesViewModel candidates
@inject StatusCandidateViewModel candidate
@inject SchoolsViewModel schools
@inject SchoolViewModel school
@{

    ViewData["Title"] = "Приети ученици по училище";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container bg">
        <table class="table px-4 py-3">
            <thead class="py-2 bg">
                <tr>
                    <th scope="col">ИНИЦИАЛИ</th>
                    <th scope="col">УНИКАЛЕН НОМЕР В СИСТЕМАТА</th>
                    <th scope="col">УЧИЛИЩЕ</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < candidates.StatusCandidates.Count(); i++)
                    {
                        <tr height="21" style="height:21px;">
                            <td height="21" style="height:21px;border-top:none;">
                                <a href="#" target="_blank">@candidate.Name</a>
                            </td>
                            <td style="border-top:none;border-left:none;">@candidate.UniqueNumber</td>
                            <td style="border-top:none;border-left:none;">
                                <a href="@school.UrlOfSchool" target="_blank">@candidate.SchoolName</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>

