@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="ftco-heading-2 img" id="family-profile" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container bg">
        <div class="row">
            <!-- <div class="offset-md-2 col-md-10">
         <partial name="_ManageNavRow" />
     </div>-->
            <hr />
            <div class="col-md-2">
                <partial name="_ManageNavCol" />
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
