@{
    ViewData["Title"] = "Профил на дете";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="ftco-heading-2 img" id="family-profile" style="background-image: url(/images/bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="container bg">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills mt-2 nav-justified flex-col">
                    <li class="nav-item">
                        <a class="nav-link active" href="Profile">Профил</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Criteria">Критерии и точки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Applications">Кандидатури</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Edit">Редактирай данни</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
