@model ISOOU.Web.ViewModels.Users.CreateDirectorInputModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

    <div class="container">
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-area="Administration" asp-controller="Dashboard" asp-action="CreateDirector" method="post">
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="FirstName">Име</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="LastName">Фамилия</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="UCN">ЕГН</label>
                        <input asp-for="UCN" class="form-control" />
                        <span asp-validation-for="UCN" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="Email">Е-поща</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="Password">Парола</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="ConfirmPassword">Повтори парола</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <label asp-for="School"></label>
                        <select class="form-control text-primary" id="type" asp-for="School">
                            <option selected disabled>---Изберете училище---</option>
                            @foreach (var school in (IEnumerable<ISOOU.Web.ViewModels.Schools.CreateDirectorSchoolModel>)this.ViewData["Schools"])
                            {
                                <option value="@school.Id">@school.Name</option>
                            }
                        </select>
                        <span asp-validation-for="School" class="text-danger"></span>
                    </div>
                    <div class="form-inline mt-1 justify-content-end">
                        <input type="submit" class="btn btn-secondary py-3 px-4" value="РЕГИСТРАЦИЯ НА ДИРЕКТОР" />
                    </div>
                </form>
            </div>
        </div>
    </div>