<div class="container-fluid">
    <ul class="nav nav-pills nav-justified flex-row">
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Начало</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ChildInputNavClass(ViewContext)" id="child" asp-page="./ChildInput">Деца</a>
        </li>
        <li class="nav-item">
            <a class="nav nav-pills subnav nav-link @ManageNavPages.ParentInputNavClass(ViewContext)" id="parent" asp-page="./ParentInput">Родители</a>
                <div class="subnav-content">
                    <a href="">Company</a>
                    <a href="">Team</a>
                    <a class="">Careers</a>
                </div>
        </li>
    </ul>
</div>
