<div class="container-fluid">
    <ul class="nav nav-pills nav-justified flex-row">
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Начало</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
              
    </ul>
</div>
