@page
@model ParentModel
@{
    ViewData["Title"] = "Родители";
    ViewData["ActivePage"] = ManageNavPages.Parent;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName">Име</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Фамилия</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UCN">ЕГН</label>
                <input asp-for="UCN" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.Permanent">Постоянен адрес</label>
                <input asp-for="Address.Permanent" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.Current">Настоящ адрес</label>
                <input asp-for="Address.Current" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.District">Район</label>
                <input asp-for="Address.District" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.Quarter">Квартал</label>
                <input asp-for="Address.Quarter" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Телефонен номер</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NameOfWork">Месторабота</label>
                <input asp-for="NameOfWork" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfWork.District">Месторабота - район</label>
                <input asp-for="PlaceOfWork.District" class="form-control" />
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-secondary px-4 py-3 mt-3">Запиши родител</button>
        </form>
    </div>
</div>
