@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лична информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6 justify-content-around">
        <p>Вашият профил съдържа лични данни, които сте ни дали. Тази страница Ви позволява да изтеглите или изтриете тези данни.</p>
        <p>
            <strong>Изтриването на тези данни ще премахне завинаги профила Ви и това не може да бъде възстановено.</strong>
        </p>
        <div class="row justify-content-between">
            <span>
                <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                    <button class="btn btn-secondary py-3 px-4" type="submit">Изтегли профил</button>
                </form>
            </span>
            <span>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary py-3 px-4">Изтрий профил</a>
            </span>
        </div>
    </div>
</div>
